<p>leaderboard PMPL SEA!</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#RANK</th>
        <th scope="col">TEAM</th>
        <th scope="col">Regular Season</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Alter Ego</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>RRQ HOSHI</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Onic Esport</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Evos Legends</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Aura FIre</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Bigetron Alpha</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Geek Fam</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Rebelion Genflix</td>
      </tr>
    </tbody>
  </table>
