<p>profile Player RRQ Hoshi</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">username</th>
        <th scope="col">nama</th>
        <th scope="col">Jenis kelamin</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">RRQ Vynnn</th>
        <td>Calvyn</td>
        <td>laki-laki</td>
        <td>Roamer</td>
      </tr>
      <tr>
        <th scope="row">RRQ R7</th>
        <td>Rivaldi Fatah</td>
        <td>laki-laki</td>
        <td>Offlaner</td>
      </tr>
      <tr>
        <th scope="row">RRQ XINNN</th>
        <td>Yesaya Omega Armando Wowiling</td>
        <td>laki-laki</td>
        <td>Gold laner</td>
      </tr>
      <tr>
        <th scope="row">RRQ Clay</th>
        <td>Deden Muhammad</td>
        <td>laki-laki</td>
        <td>MId Laner</td>
      </tr>
      <tr>
        <th scope="row">RRQ Albert</th>
        <td>Albert</td>
        <td>laki-laki</td>
        <td>Jungler</td>
      </tr>