<h1>MOBILE LEGENDS 2021</h1>
<img  src="assets/images/2.jfif">
<h2>Mobile Legend kembali menggelar turnamen nasional paling bergengsi berjudul MPL
      Turnamen ini akan menjadi tiket ke Piala bergengsi M3. MPL juga menghadiahi pemenang dengan subuah tropi khusus dan juga hadiah uang tunai lebih dari 300.000 $ para tim tim kelas atas akan bersaing demi mendapat kan hadiah tersebut juga dengan tiket menuju M3
  </h2>
<h3> Selain tim-tim professional mulai dari EVOS Legends, RRQ HOSHI,Bigetron Alpha, Dan alter Ego  tim lain nya juga ikut meramaikan turnamen ini seperti  Aura Fire, Rebelion genflix dan juga Geek Fam Id
    </h3>

